body {
    display: grid;
    grid-template-areas: 
        "header header header"
        "aside main main"
        "footer footer footer";
    grid-gap: 1rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 71vh auto;
}

.o-header {
    grid-area: header;
    padding: 1.5rem;
}

.o-aside {
    grid-area: aside;
}

.o-main {
    grid-area: main;
}

.o-footer {
    grid-area: footer;
    padding: 1.5rem;
}

.o-header, .o-aside, .o-main, .o-footer {
    background: #bc20e2;
    color: #FDFDFD;
}